* {
   margin: 0; 
   padding: 0;  
   box-sizing: border-box; 
}

body {
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cef1ef;
    color: #733D29;
}

.container-main {
    border-bottom: 1px solid #733D29;
    padding: 0%;
}

.logo {
    width: 150px;
    display: inline-block;
}

.logo img {
    width: inherit;
}

nav {
    display: inline-block;
    display: 10px;
}

nav li {
    display: inline-block;
/*     padding: 10px ; */
}

nav li a {
    text-decoration: none;
    background-color: #D9415D;
    color: white;
    padding: 0.3rem;
    border-radius: 11px;
}

/* nav li a:visited {
    background-color:#F2B33D;
} */

nav li a:hover {
    background-color: #733D29;
}

nav li a:active {
    background-color: #F2811D;
    color: black;
}

.gray-bg {
    background-color: #d5d5d5;
    display: inline-block;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 0 5px 0 0;
}


.img-article {
    width: 150px;
      margin: auto;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
}

article > p {
    background-color: white;
    padding: 5px;
}

.another-gray-bg {
    background-color: #d5d5d5;
    width: 500px;
    padding: 15px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}

.footer {
/*     display: inline-block; */
    width: auto;
}
